.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table {
  display: flex;
  justify-content: center;
}
.table ul {
  list-style: none;
}

.not-visible::before, .not-visible::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.not-visible::before {
  height: 100%;
  width: 100%;
  background-color: lightpink;
}
.not-visible::after {
  height: 100px;
  width: 100px;
  background-color: red;
  transform: rotate(45deg);
  content: "";
  /* top: 15%;
  left: 8.5%; */
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  border: #282c34 solid 2px;
  width: 100px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.card-1, .card-2 {
  color: red;
}